.fondo {
    background-color: #FFA37F;
}
.bg-secondary {
    background-color: #FF4700;
}
.titulo{
    font-size: 25px;
    text-align: center;    

}
.subtitulo{
    color:#FF4700;
    text-decoration: underline;
    font-size: 12px;
}